*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.head{
    position: relative;
    width: 100%;
    height: 25px;
}
span{
    color: red;
}
nav{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
}
.rod{
    font-size: 40px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: yellow;
    background: #000;
    padding: 50px;
    margin: 10px 30px;
}
.box.three{
    position: relative;
    left: 50px;
    top: 50px;
}
.box.two{
    position: fixed;
    bottom: 0;
    right: 0;
}
.box.four{
    position: absolute;
    top: 100px;
    right: 0;
}
.box.one{
    position: sticky;
    top: 0;
}